.card-list {
  display: flex;
  gap: var(--space-16);
}

.card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 2rem 2.5rem;
  border-radius: 8px;
}

.card.with-bg {
  position: relative;
  background: linear-gradient(143.09deg, rgba(91, 158, 190, 0.15) 61.28%, rgba(42, 73, 88, 0.15) 90.03%);
}

.card.with-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(150deg, rgba(91,158,190,0.8) 0%, rgba(42,73,88,0) 100%);
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
}

.card .title {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
}

.card .icon {
  width: 2.5rem;
}

.card .index {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
}

.card .description {
  color: var(--color-secondary-txt);
  font-size: var(--font-size-16);
}



