.detail-with-img {
  display: flex;
  justify-content: space-around;
  gap: var(--space-24);
}

.detail-with-img .txt-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  padding-left: 4rem;
  flex: 1 1 0;
}

.detail-with-img .img-wrapper {
  flex: 1 1 0;
  position: relative;
}

.detail-with-img .img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #54A7D1 -226.42%, #2B556B -186.92%);
  opacity: 0.5;
  box-shadow: 0px 0px 202.918px rgba(0, 87, 131, 0.5);
  filter: blur(81.1671px);
  backdrop-filter: blur(20.2918px);
  z-index: 1;
}

.detail-with-img .img-wrapper.without-glow::after {
  display: none;
}

.detail-with-img .img-wrapper .img {
  position: relative;
  z-index: 2;
}

.detail-with-img .title {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
}

.detail-with-img .description {
  color: var(--color-secondary-txt);
  font-size: var(--font-size-20);
}
