:root {
  --default-section-padding: 2rem;
  --default-section-horizontal-padding: 6rem;
}

/* Shared mobile styles */
@media (max-width: 790px) {
  .section {
    padding: var(--default-section-padding) var(--space-16);
  }

  .section-title {
    font-size: var(--font-size-24);
  }

  .section-subtitle {
    font-size: var(--font-size-14);
    padding: 0;
  }

  .hero {
    padding: 0.2rem var(--space-16);
    gap: var(--space-20);
  }

  .hero .primary-heading {
    font-size: var(--font-size-28);
  }

  .hero .primary-subheading {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
  }

  .spotlight .img-wrapper,
  .card {
    padding: var(--space-12);
  }

  .btn {
    padding: var(--space-4) var(--space-8);
  }

  footer .social-links > * {
    flex: 0;
  }

  header .hamburger-menu-icon {
    display: flex;
  }

  header,
  footer {
    padding: 1rem;
  }

  .spotlight .img-wrapper,
  .hero .text-group {
    padding: 2rem;
  }

  header nav.hamburger-menu ul {
    flex-direction: column;
    padding: 1.25rem 1rem 4rem;
    position: fixed;
    z-index: 3;
    top: 3.75rem;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.15s ease-in-out;
    color: white;
    background-color: rgba(18, 18, 18, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  header nav.hamburger-menu.open ul {
    transform: translateX(0);
  }

  .spotlight.full {
    height: 350px;
  }

  .spotlight .content {
    padding: 0;
  }

  .card-list {
    flex-direction: column;
  }

  .card {
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    aspect-ratio: initial;
    background: linear-gradient(
      143.09deg,
      rgba(91, 158, 190, 0.15) 61.28%,
      rgba(42, 73, 88, 0.15) 90.03%
    );
    border-radius: 6px;
  }

  .card .title {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semibold);
  }

  .detail-with-img {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .detail-with-img .img {
    width: 80%;
  }

  .detail-with-img .txt-group {
    padding-left: 0;
  }

  .detail-with-img .title {
    font-size: var(--font-size-20);
  }

  .detail-with-img .description {
    font-size: var(--font-size-16);
  }

  footer .social-links .primary-links {
    display: none;
  }

  footer .choreon-logo {
    height: 16px;
  }

  footer .tos .copyright-and-links {
    flex-direction: column;
  }
}

@media (max-width: 1024px), (max-width: 1439px) {
  .section {
    padding: var(--default-section-padding) var(--space-80);
  }

  header {
    padding: 1rem var(--default-section-horizontal-padding);
  }
}

/* Differentiated header height */
@media (max-width: 1024px) {
  header {
    height: var(--space-64);
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  header {
    height: var(--space-68);
  }
}

@media (min-width: 791px) and (max-width: 1919px) {
  .section,
  .spotlight .img-wrapper {
    padding: var(--default-section-padding)
      var(--default-section-horizontal-padding);
  }

  .section {
    padding: 2rem var(--space-120);
  }

  header,
  footer {
    padding: 1rem var(--default-section-horizontal-padding);
  }

  .hero {
    padding: 2rem var(--space-40);
  }

  .hero .primary-heading {
    font-size: var(--font-size-42);
  }

  .hero .primary-subheading {
    font-size: var(--font-size-18);
    padding: 2rem var(--space-40);
  }

  .section-title {
    font-size: var(--font-size-36);
  }

  .section-subtitle {
    font-size: var(--font-size-18);
  }

  .card {
    gap: 1rem;
    padding: 1.5rem;
  }

  .card .title {
    font-size: var(--font-size-16);
  }

  .card .description {
    font-size: var(--font-size-14);
  }

  .card .icon {
    width: 2rem;
  }

  .spotlight.full {
    height: 750px;
  }
}

@media (min-width: 1920px) {
  .section {
    padding: 2rem var(--space-140);
    margin-left: var(--margin-lr-2k);
    margin-right: var(--margin-lr-2k);
  }

  header .logo {
    height: var(--space-32);
    width: var(--space-168);
  }

  header {
    padding: 1rem var(--default-section-horizontal-padding);
    height: var(--space-60);
  }

  .section-title {
    font-size: var(--font-size-60);
  }

  .section-subtitle {
    font-size: var(--font-size-20);
  }

  .hero {
    padding: 2rem var(--space-140);
    margin-top: var(--hero-top-margin-2k);
  }

  .hero .primary-heading {
    font-size: var(--font-size-primary-heading);
  }

  .hero .primary-subheading {
    font-size: var(--font-size-24);
  }

  .spotlight .img-wrapper,
  .card {
    padding: var(--space-24);
  }

  footer {
    margin-top: var(--footer-spacing-2k);
  }

  footer .social-links > * {
    flex: 0;
  }
}

/* Margin-specific breakpoints */
@media (max-width: 480px) {
  .section {
    margin-left: var(--margin-lr-480);
    margin-right: var(--margin-lr-480);
    padding: 1rem var(--default-section-padding);
  }

  .hero {
    margin-top: var(--hero-top-margin-480);
  }

  footer {
    margin-top: var(--footer-spacing-480);
  }

  header {
    padding: 0.5rem var(--default-section-padding);
    height: var(--space-50);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .section {
    margin-left: var(--margin-lr-768);
    margin-right: var(--margin-lr-768);
    padding: 1rem 5rem;
  }

  .hero {
    margin-top: var(--hero-top-margin-768);
  }

  footer {
    margin-top: var(--footer-spacing-768);
  }

  header {
    padding: 1rem var(--default-section-padding);
    height: var(--space-60);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section {
    margin-left: var(--margin-lr-1024);
    margin-right: var(--margin-lr-1024);
  }

  .hero {
    margin-top: var(--hero-top-margin-1024);
  }

  footer {
    margin-top: var(--footer-spacing-1024);
  }

  header {
    padding: 0.5rem var(--default-section-padding);
    height: var(--space-64);
  }
}

@media (min-width: 1025px) and (max-width: 1439px),
  (min-width: 1280px) and (max-width: 1439px) {
  .section {
    margin-left: var(--margin-lr-1280);
    margin-right: var(--margin-lr-1280);
  }

  .hero {
    margin-top: var(--hero-top-margin-1280);
  }

  footer {
    margin-top: var(--footer-spacing-1280);
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .section {
    margin-left: var(--margin-lr-1440);
    margin-right: var(--margin-lr-1440);
  }

  .hero {
    margin-top: var(--hero-top-margin-1440);
  }

  footer {
    margin-top: var(--footer-spacing-1440);
  }
}
