:root {
  --color-dark: #121212;
  --color-primary: #54a7d1;
  --color-primary-active: #438BAB;
  --color-secondary-txt: #CCCCCC;
  --color-divider: #333333;
  /* Font and Size Variables */
  --font-family: 'Poppins', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --letter-spacing: -2%;
  --line-height: 125%;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-42: 42px;
  --font-size-48: 48px;
  --font-size-primary-heading: 60px;

  /* Layout Variables */
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-50: 50px;
  --space-56: 56px;
  --space-64: 64px;
  --space-68: 68px;
  --space-72: 72px;
  --space-75: 75px;
  --space-80: 80px;
  --space-100: 100px;
  --space-120: 120px;
  --space-140: 140px;
  --space-160: 160px;
  --space-168: 168px;
  --space-4x14: calc(4px * 14);
  --space-4x15: calc(4px * 15);
  --space-4x20: calc(4px * 20);
  --border-radius: 8px;

  --default-section-padding: 2rem;

  --margin-lr-2k: var(--space-140);
  --margin-lr-1440: var(--space-80);
  --margin-lr-1280: var(--space-64);
  --margin-lr-1024: var(--space-40);
  --margin-lr-768: var(--space-24);
  --margin-lr-480: var(--space-16);


  --section-spacing-2k: var(--space-140);
  --section-spacing-1440: var(--space-120);
  --section-spacing-1280: var(--space-100);
  --section-spacing-1024: var(--space-90);
  --section-spacing-768: var(--space-72);
  --section-spacing-480: var(--space-52);


  --subsection-spacing-2k: var(--space-80);
  --subsection-spacing-1440: var(--space-72);
  --subsection-spacing-1280: var(--space-64);
  --subsection-spacing-1024: var(--space-56);
  --subsection-spacing-768: var(--space-48);
  --subsection-spacing-480: var(--space-32);


  --hero-top-margin-2k: var(--space-160);
  --hero-top-margin-1440: var(--space-120);
  --hero-top-margin-1280: var(--space-100);
  --hero-top-margin-1024: var(--space-80);
  --hero-top-margin-768: var(--space-80);
  --hero-top-margin-480: var(--space-80);

  --hero-heading-2k: var(--font-size-72);
  --hero-heading-1440: var(--font-size-60);
  --hero-heading-1280: var(--font-size-48);
  --hero-heading-1024: var(--font-size-72);
  --hero-heading-768: var(--font-size-32);
  --hero-heading-480: var(--font-size-24);

  --hero-subheading-2k: var(--font-size-28);
  --hero-subheading-1440: var(--font-size-23);
  --hero-subheading-1280: var(--font-size-20);
  --hero-subheading-1024: var(--font-size-18);
  --hero-subheading-768: var(--font-size-16);
  --hero-subheading-480: var(--font-size-12);

  --hero-cta-spacing-2k: var(--space-40);
  --hero-cta-spacing-1440: var(--space-32);
  --hero-cta-spacing-1280: var(--space-28);
  --hero-cta-spacing-1024: var(--space-24);
  --hero-cta-spacing-768: var(--space-20);
  --hero-cta-spacing-480: var(--space-16);

  --hero-heading-subheading-gap-2k: var(--space-32);
  --hero-heading-subheading-gap-1440: var(--space-24);
  --hero-heading-subheading-gap-1280: var(--space-20);
  --hero-heading-subheading-gap-1024: var(--space-16);
  --hero-heading-subheading-gap-768: var(--space-12);
  --hero-heading-subheading-gap-480: var(--space-8);

  --footer-spacing-2k: var(--space-100);
  --footer-spacing-1440: var(--space-80);
  --footer-spacing-1280: var(--space-72);
  --footer-spacing-1024: var(--space-64);
  --footer-spacing-768: var(--space-56);
  --footer-spacing-480: var(--space-48);
}

body {
  background-color: var(--color-dark);
  color: #ffffff;
}

body, * {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-16);
}

.link {
  text-decoration: none;
  color: var(--color-secondary-txt);
  font-size: var(--font-size-14);
  position: relative;
  display: flex;
  padding: var(--space-4) var(--space-8);
}

/* Section */
.section {
  padding: 2rem 12rem;
}

.section-title {
  font-size: var(--font-size-42);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.section-subtitle {
  font-size: var(--font-size-20);
  color: var(--color-secondary-txt);
  padding: 0 10rem;
}

/* Text classes */
.txt-center {
  text-align: center !important;
}

/* Atoms */
.btn {
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: #ffffff;
  text-decoration: none;
  border: none;
  padding: var(--space-8) var(--space-16);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  display: flex;
}

.btn:hover {
  background-color: var(--color-primary-active);
}

.link:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  background-color: var(--color-primary);
  transition: width 0.15s;
}

.link:hover:after, .link.active:after {
  width: 100%;
}

.image-wrapper {
  position: relative;
}

.image-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #54A7D1 -226.42%, #2B556B -186.92%);
  opacity: 0.8;
  box-shadow: 0px 0px 202.918px rgba(0, 87, 131, 0.5);
  filter: blur(81.1671px);
  backdrop-filter: blur(20.2918px);
  z-index: 1;
}

.image-wrapper.without-glow::after {
  display: none;
}

.image-wrapper img {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
}

.content {
  overflow-x: hidden;
}
